<template>
    <b-container>
        <b-row class="mt-5" align-content="center">
            <b-col>
                <b-card
                        header = "Searched Words"
                        class="mb-2"
                >
                    <!--<b-card-text v-for="(data, i) in words" :key="i">
                        {{ i + 1 }}) {{ data.word }}
                    </b-card-text>-->
                    <b-table striped hover :items="words"></b-table>
                </b-card>
            </b-col>
        </b-row>

    </b-container>
</template>

<script>
    import axios from 'axios';
    export default {
        data () {
            return {
                words: []
            }
        },
        mounted(){
            axios.get('http://digiance-test.local/api/search/history').then(response => {
                this.words = response.data.data
            })
        }
    }
</script>

<style scoped>

</style>