<template>
    <b-container>
        <b-row class="mt-5">
            <b-col>
                <b-input-group>
                    <b-input-group-prepend is-text>
                        <b-icon icon="search" class="search-icon" v-on:click="doSearch"></b-icon>
                    </b-input-group-prepend>
                    <b-form-input type="search" placeholder="Search words..." class="search-input" v-model="word"></b-form-input>
                </b-input-group>
            </b-col>
        </b-row>
        <b-row class="mt-5" align-content="center" cols="3">
            <b-col v-for="(wordDefinition, i) in wordDefinitions" :key="i">
                <b-card
                        :header = "!i ? 'Meaning' : ('Meaning - ' + i)"
                        class="mb-2"
                >
                    <b-card-text>
                        {{ wordDefinition.definition }}
                    </b-card-text>
                </b-card>
            </b-col>
        </b-row>

    </b-container>
</template>

<script>
    import axios from 'axios';
    export default {
        data () {
            return {
                word: '',
                wordDefinitions: []
            }
        },
        methods: {
            doSearch: function () {
                let _self = this;

                axios.post('http://digiance-test.local/api/search/store', {
                    word: _self.word
                });

                const options = {
                    method: 'GET',
                    url: 'https://wordsapiv1.p.rapidapi.com/words/' + _self.word,
                    headers: {
                        'x-rapidapi-key': '36c8aec3a6mshfdc02a71b3771c4p125bbbjsnca4deed12072',
                        'x-rapidapi-host': 'wordsapiv1.p.rapidapi.com'
                    }
                };

                axios.request(options).then(function (response) {
                    console.log(response.data);
                    _self.wordDefinitions = response.data.results
                }).catch(function (error) {
                    console.error(error);
                });
            }
        }
    }
</script>

<style scoped>
    .search-input{
        height: 65px;
    }
    .search-icon{
        font-size: 170% !important;
    }
</style>